.page {
  
  background-attachment: fixed;

  font-family: var(--main-font);
  font-weight: normal;
  display: grid;
  box-sizing: border-box;
  font-size: 1.125rem;  
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  /* background-image: var(--background-image); */
  position: relative;
  padding-right: var(--padding-right__header);
  padding-left: var(--padding-left__header);
  block-size: 100vh;
  min-block-size: var(--height__header-footer);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--border-color-box-border);
}

.decorated-zone::before {
  content: "";
  border-left: none;
  border-bottom: none;
  z-index: 1;

  grid-column: 2 / 3;
  top: var(--top_decorated-zone-before);
  right: var(--right_decorated-zone-before);
}

.decorated-zone::after {
  content: "";
  border-top: none;
  border-right: none;
  width: 25.04px;
  min-block-size: 25px;
  left: var(--left_decorated-zone-after);
  top: var(--top_decorated-zone-after);
  z-index: 1;
}

.rec {
  position: absolute;
  color: var(--color-rec);
  font-size: 1.125rem;
  top: var(--top_rec);
  right: var(--right_rec);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
}

.rec::after {
  content: "";
  position: absolute;
  top: var(--top-rec-after);
  block-size: 9px;
  inline-size: 9px;
  margin-inline-start: var(--margin-inline-start-rec-after);
  background-color: var(--color-rec);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--box-shadow-rec-after);
}

/*BUTTON*/

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--flex-direction__header-theme-menu-list);
  align-items: var(--align-items__header-theme-menu-list);
  justify-content: var(--justify-content__header__theme-menu-list);
  margin-block-start: var(--margin-block-start__header-theme-menu-list);
  gap: var(--gap__header-theme-menu-list);
}

.header__theme-menu-button {
  inline-size: 70px;
  border: none;
  background-color: transparent;
  color: var(--color-header-menu-button);
}

.header__theme-menu-button_active {

  border: 1px solid var(--border-color-button);
}

.header__theme-menu-button:hover {
  border: 1px solid #FF007066;
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-header-menu-button);
}

.header__theme-menu-button_active:hover {
  border: 1px solid var(--border-color-button);
}
.header__theme-menu-button_active:focus-visible {
  border: none;
  outline: none;
  border-bottom: none;
}
/*-BUTTON-*/

.header__title {
  font-size: var(--font-size-header-title);
  color: var(--color-header-title);
  text-shadow: 4px 4px 0px var(--t-shadow-color-header-title);
  line-height: var(--inline-height__header__title);
  margin-block-start: var(--margin-block-start__header__title);
  margin-block-end: var(--margin-block-end__header__title);
}

.title-decor {
    background-color: var(--background-color-text);
}

.header__text {
  display: inline-block;
  color: var(--color-header-text);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 23.4px;
  min-block-size: min-content;
  padding-right: var(--padding-right__box__text);
  margin-block-end: 15px;
  margin-block-start: var(--margin-block-start__box__text);
  margin-inline-start: var(--margin-inline-start__box__text);
  margin-inline-end: var(--padding-right-box__text);

}

/*/HEADER/*/

main {
  background: var(--all-background-color);
  grid-template-columns: var(--grid-template-columns__main);
  grid-template-rows: var(--grid-template-rows__main);
}

.cards-list {
  margin-block-start: var(--margin-block-start__section-title);
  padding-right: var(--all-padding-right);
  padding-left: var(--all-padding-left);
  display: var(--display__cards-list);
  grid-template-columns: var(--grid-template-columns__main);
  grid-template-rows: var(--grid-template-rows__main);
  gap: var(--gap__main);
}

@media (min-width: 768px) {
.cards-list:not(:first-child) {
  margin-block-start: 80px;
}
}


.list-img {
  margin-block-start: var(--margin-block-start__list-img);
}

.section-title {
  color: var(--color-section-title);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 23.4px;
  grid-column: var(--grid-column__section-title);
}

.section-title:not(:first-child) {
  margin-block-start: 50px;
}

@media (min-width: 768px) {
  .section-title {
    grid-column: 1 / 2;
  }
}

.card-section {
  margin-block-start: var(--margin-block-start__card-section);
  grid-column: var(--grid-column__card-section);
  padding-left: var(--padding-left__card-section);
}

/*text*/

.card-section__title {
  font-size: 1.125rem;
  color: var(--color-section-card-title);
}

.card-section__title-last {
  margin-bottom: 21px;
}

.card-section__text {
  color: var(--color-section-text);
  margin-block-start: 10px;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 23.4px;
}
/*LINK*/

.link {
  text-shadow: 2px 1px 0px var(--text-shadow-links);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
  outline-offset: 0px;
}

.link:focus-visible {
  outline: 1px solid var(--color-section-text);
  outline-offset: 2px;
}

.link:active {
  text-shadow: none;
  color: #ff0070;
}

/*-LINK-*/

.card-half-of-the-title {
  color: var(--color-section-card-title);
  background-color: var(--background-card-title);
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 23.4px;
}

.card-section-png {
  display: flex;
  flex-direction: column;
  padding: var(--all-padding);
}

.img-section__title {
  color: var(--color-section-card-title);
  background-color: var(--background-card-title);
  font-weight: bold;
  font-size: 1.125rem;
  margin-block-start: var(--margin-block-start__img-section__title);
}

.img-section {
  display: grid;
  grid-template-columns: var(--grid-template-columns__img-section);
  grid-template-rows: var(--grid-template-rows__img-section);
  gap: var(--gap__img-section);
  margin-top: var(--margin-top__img-section);
}

.png {
  inline-size: 100%;
}

/*footer*/

.footer {
  margin-block-start: var(--margin-block-start__footer);
  block-size: 100vh;
  min-block-size: var(--height__header-footer);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: var(--font-size-footer-title);
  color: var(--color-footer-title);
  text-shadow: 2px 2px 0px var(--t-shadow-color-footer-title);
  line-height: var(--t-shadow-color-footer-title);
}

@media (min-width: 768px) {
  .img-section__title {
    margin-block-start: 49px;
  }
}

@media (min-width: 768px) {
  .img-section__title {
    margin-block-start: var(--margin-block-start__img-section__title);
  }

  .card-section-png {
    padding-left: var(--all-padding-left);
    padding-right: var(--all-padding-right);
  }

  .png {
    inline-size: 100%;
    min-block-size: 100%;
    object-fit: cover;
    overflow: hidden;
    background-position: center;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  .tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  .books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (min-width: 768px) {


  .multitasking {
    grid-column: var(--grid-column__multitasking);
  }

  .meal {
    grid-column: var(--grid-column__meal);
  }

  .Gadgets {
    grid-column: var(--grid-column__Gadgets);
  }

}

@media (min-width: 768px), (max-width: 1023.99989px) {
  .cards-list:nth-of-type(2) .card-section {
    padding-left: 0px;
  }
}/*мне дали ограничение, я придерживаясь их написал это правило*/


