/*
  здарствуйте, вроде бы все дубликаты убраны, но я не уверен на 100%.
*/

:root {
  --main-font: "IBM Plex mono", sans-serif;
  --box-shadow-rec-after: #ff0070;
  --border-color-box-border: #ff0070;
  --color-rec: #ff0070;
  --border-color-button: #ff0070;
  --all-background-color: rgb(0, 0, 40);
  --color-header-menu-button: rgb(255, 0, 112);
  --color-header-title: rgb(219, 0, 255);
  --t-shadow-color-header-title: rgb(255, 0, 112);
  --color-header-text: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --background-color-text: rgb(255, 0, 112);
  --color-section-title: rgb(255, 0, 112);
  --color-section-card-title: rgb(0, 0, 40);
  --text-shadow-links: rgb(255, 0, 112);
  --color-section-text: rgb(241, 178, 206);
  --color-footer-title: rgba(219, 0, 255, 1);
  --t-shadow-color-footer-title: rgb(255, 0, 112);
  --border__header__theme-menu-button-hover: #ff007066;
}
/*я не знаю как и что делать этими < = >*/
/*логика названий переменых: свойство-свойство__класс-html .
исключение общии стили как:
--main-font

*/
@media (min-width: 375px) {
  :root {
    --height__header-footer: 668px;
    --grid-template-columns__main: min-content;
    --grid-template-rows__main: min-content min-content;
    --top_decorated-zone-before: 10px;
    --right_decorated-zone-before: 10px;
    --left_decorated-zone-after: 10px;
    --top_decorated-zone-after: 10px;
    --top_rec: 12px;
    --right_rec: 38px;
    --top-rec-after: 7px;
    --margin-inline-start-rec-after: 10px;
    --margin-inline-start__header-theme-menu-list: 0px;
    --margin-block-start__header-theme-menu-list: 72px;
    --gap__header-theme-menu-list: 11px;
    --margin-block-start__header__title: 66px;
    --margin-block-end__header__title: 54px;
    --all-padding: 0px 10px 0px 10px;
    --inline_box__text: 355px;
    --padding-right__box__text: 17px;
    --margin-block-start__box__text: 1px;
    --margin-inline-start__box__text: 0px;
    --inline-height__header__title: 96px;
    --margin-block-start__section-title: 39px;
    --margin-block-start__card-section: 20px;
    --padding-left__card-section: 0px;
    --margin-block-start__img-section__title: 49px;
    --flex-direction__header-theme-menu-list: column;
    --align-items__header-theme-menu-list: flex-end;
    --all-padding-right: 10px;
    --all-padding-left: 10px;
    --padding-left__header: 10px;
    --padding-right__header: 10px;
    --padding-right-box__text: 0px;
    /*main grid*/
    --gap__main: 0px;
    --display__cards-list: block;
    --margin-block-start__list-img: 0px;
    --grid-column__section-title: none;
    --grid-column__card-section: none;
    --margin-top__img-section: 10px;
    --gap__img-section: 10px;
    --grid-template-columns__img-section: 1fr;
    --grid-template-rows__img-section: 1fr;
    --margin-block-start__card-section: 20px;
    /*main grid END*/
    /*footer*/
    --margin-block-start__footer: 40px;
    --font-size-header-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-size-footer-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  :root {
    --grid-template-columns__main: 1fr 1fr 1fr;
    /*времено 1px шоьы нэ мешал а так 3 fr*/
    --top_decorated-zone-before: 20px;
    --right_decorated-zone-before: 20px;
    --left_decorated-zone-after: 20px;
    --top_decorated-zone-after: 20px;
    --top_rec: 20px;
    --right_rec: 48px;
    --top-rec-after: 8px;
    /*decor END*/ /*button*/
    --margin-block-start__header-theme-menu-list: 190px;
    --margin-inline-end__header-theme-menu-list: 20px;
    /*button END*/ /*header*/
    --padding-right__header: 20px;
    --font-size-header-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --margin-block-start__header__title: 175px;
    --margin-block-end__header__title: 55px;
    --inline_box__text: 364px;
    --margin-block-start__box__text: 109px;
    --margin-inline-start__box__text: 384px;
    --margin-block-start__section-title: 61px;
    --margin-block-start__card-section: 0px;
    --padding-left__card-section: 7px;
    /*haader END*/ /*main grid*/
    --display__cards-list: grid;
    --margin-block-start__list-img: 30px;
    --all-padding-right: 20px;
    --all-padding-left: 20px;
    --padding-left__header: 0px;

    --grid-column__section-title: 1 / 2;
    --grid-column__card-section: 2 / 4;
    --margin-top__img-section: 0px;
    --gap__img-section: 20px;
    --grid-template-columns__img-section: 1fr 1fr 1fr;

    --gap__main: 20px;
    /*main grid END*/ /*footer*/
    --margin-block-start__footer: 60px;
    --font-size-footer-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --height__header-footer: 1024px;
  }
}

@media (min-width: 1024px) {
  :root {
    --margin-block-start__card-section: 0px;
    --margin-block-start__header__title: 289px;
    --padding-right-box__text: 20px;
    --padding-right__header: 0px;
    --margin-inline-start__box__text: 512px;
    --padding-right__box__text: 0px;
    --margin-block-start__box__text: 76px;
    /*button*/

    --margin-block-start__header-theme-menu-list: 19px;
    --margin-inline-end__header-theme-menu-list: 0px;
    --gap__header-theme-menu-list: 10px;
    --flex-direction__header-theme-menu-list: row;
    --align-items__header-theme-menu-list: flex-start;
    --justify-content__header__theme-menu-list: center;
    /*decor*/
    --padding-left__card-section: 0px;
    /*header END*/ /**/
    --height__header-footer: 768px;
  }
}
